$thickness:  2px solid #000;

.contact-div {
    @include tab-common();
    
    form.leave-message {
        margin-bottom: 10%;
        width: 100%;
        @include flex($align: flex-start);
        flex-direction: column;
        padding-right: $sidepadding;

        

        .short-input {
            @include flex($justify: flex-start);
            width: 100%;

            .short-input-child:not(:first-child) {
                margin-left: 50px;
            }
        }
        .short-input-child {
            @include flex($align: flex-start);
            flex-direction: column;
            padding: 20px 0;

            .is-relative {
                position: relative;
                width: 100%;

                textarea {
                    height: 100px !important;
                    font-family: $fontfamily;
                    font-size: 15px !important;
                    padding-top: 10px;
                }

                &>input, &>textarea {
                    width: 100%;
                    height: 50px;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid rgba(0,0,0,.3);
                    outline: none;
                    // padding: 5px;
                    margin-top: 7px;
                    font-size: 16px;
    
                    & ~ .focus-border {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background: #000;
                    }
    
                    &:focus ~ .focus-border {
                        width: 100%;
                        transition: 0.5s;
                    }
                }
            }
            
            
            &.outside {
                width: 100%;
                
                .is-relative {
                    width: 100%;
                }
            }
        }
    }
}

.cover {
    position: relative;
    width: 60%;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: scaleX(0.5);

    .tuner {
        width: 20px;
        
        height: 50%;
        background: black;
        animation: load 2s infinite;
        background-color: red;

        &:nth-child(2) {
            margin: 0 8px;
            animation-delay: 0.1s;
        }

        &:last-child {
            animation-delay: 0.2s;
        }
    }
}


@keyframes load {
    0% {
        height: 100%
    }
    50%, 100% {
        height: 50%;
    }
}



@media only screen and (max-width: 768px) {
    .contact-div {
        padding: 0 $sidepadding-mobile;
        height: unset;
        
        form.leave-message {
            padding: 0;

            .short-input {
                flex-direction: column;

                .short-input-child {
                    margin: 0 !important;
                    width: 100%;
                }
            }
        }
    }
}