$background: rgba(0, 0, 0, .03);
$sidepadding: 200px;
$sidepadding-mobile: 20px;
$fontfamily: 'Sora', sans-serif;
$touchbackground: rgba(0,0,0,.08);

@mixin flex($justify: center, $align: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: $fontfamily;
    background: $background;
}

a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    
    // &:focus {
    //     background: $touchbackground;
    //     color: $touchbackground;
    // }
}


button {
    padding: 15px 35px;
    font-family: $fontfamily;
    font-size: 10px;
    background: lighten($color: red, $amount: 45);
    color: #f00;
    border: none;
    font-weight: 500;
    outline: none;
    @include flex();

    &:active {
        background: lighten($color: red, $amount: 30);
        // transform: scale(0.8);
    }

    & > i {
        margin-left: 10px;
    }

}

.touch-indicator {
    border-radius: 50%;

    &:active {
        background: rgba(0, 0, 0, .08);
    }
}


.link {
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
    font-weight: 500;

    &:nth-child(2) {
        margin: 0 20px;
    }

    &:hover, &:active {
        background: rgba(0,0,0,.08)
    }
}

.liner {
    width: 30px;
    height: 3px;
    // position: absolute;
    background: white;
}


.socials {
    @include flex();

    .social {
        width: 50px;
        height: 50px;
        @include flex($justify: flex-start);

        i {
            color: rgba(0, 0, 0, .7);
        }
    }
}

.alert {
    // position: absolute;
    // top: 10%;
    position: fixed;
    border-radius: 3px;
    bottom: 20px;
    left: 20px;
    height: 50px;
    display: none;
    // left: 0;
    @include flex();
    transition: 200ms ease-in-out;
    box-shadow: 13px 32px 36px -14px hsla(0,0%,70%,.3);
    margin-bottom: 15px;
    color: white !important;
    padding: 10px;

    &>p {
        margin: 0;
    }
}

@mixin tab-common() {
    width: 100%;
    padding: 30px $sidepadding;
    @include flex();

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        padding: 30px $sidepadding-mobile;
    }
}

.tab-common {
    @include tab-common();
}

@media only screen and (min-width: 1024px) {
    .touch-indicator {
        &:active {
            background: transparent;
        }
    }
}